#app {
    background-color: #f9ffff;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#navbar {
    display: flex;
    opacity: 1;
    width: 100%;
    height: 10%;
    left: 0;
    top: 0;
    background-color: #143d39;
    justify-content: flex-end;
    align-items: flex-end;
}

.button {
    margin-left: 20px;
    margin-right: 20px;
}

.inactive {
    background-color: inherit;
    border: none;
    font-size: 20px;
    padding-bottom: 0%;
    height:60%;
    width: 10%;
    font-family: Roboto;
    transition-duration: 0.2s;
    color: white;
}

.active {
    background-color: white;
    border: none;
    font-size: 20px;
    padding-bottom: 0%;
    height:60%;
    width: 10%;
    font-family: Roboto;
    transition-duration: 0.2s;
    color:rgb(44, 55, 81)
}

.inactive:hover {
    background-color: white;
    color:rgb(44, 55, 81)
}


.content-box {
    font-family: Roboto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    width: 90%;
    height: 85%;
}

.content {
    margin: auto;
    height:100%;
    width:100%;
    display: flex;
}

.box2 {
    width:100%
}

.text {
    height: 10%;
    width: auto;
    margin: auto; 
    text-align: center;
    font-family: Roboto;
}

.carousel {
    display:flex;
    height: 100%;
    margin-top: 0;
}

.prev, .next {
    margin-top: 15%;
    top: 50%;
    width: 10%;
    height: 20%;
    transition: 0.6s ease;
    user-select: none;
    color: rgb(82, 82, 82);
    background-color: inherit;
    border: none;
    font-size: 18px;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(95, 95, 95, 0.8);
  }

@font-face {
    font-family: Roboto;
    src: url(Roboto/Roboto-Regular.ttf)
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#geonotes {
    position: relative;
    width: auto;
    height: 500px;
    top: 20%;
    left: 1%;
    border-radius: 5px;
}
